.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 183, 183);
    height: 100vh;
    margin-top: -9em;
    
    
}

.quote-card {
    border: 5px solid #211d1d;
    border-radius: 10px;
    margin: 20px;
    padding: 50px;
    width: 300px;
    background-color: rgb(196, 97, 173)
}      

#btn {
    
}
