.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 183, 183);
    height: 100vh;
    margin-top: -9em;
    
    
}

.quote-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 300px;
}      

#btn {
    
}
